# Secrets
backend/timetracker-488519-2358658be50a.json

# Virtual environment
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode
.vscode/

# Python specific
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/